{% extends "base/base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block template %}

<div class="container mt-5">
    <div id="translation-card" class="p-5 card border-0 rounded-lg">
        <div class="card-body">
            <h1 class="display-6 mb-5">Register</h1>
            <div class="my-4">
                <form action="{% url 'register' %}" method="POST">
                    {% csrf_token %} 
                    {% for field in form %}
                        <div class="mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            {{ field|add_class:"form-control" }}
                            {% if field.help_text %}
                                <div class="form-text">{{ field.help_text }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}