{% extends "base/base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block template %}

<div class="container mt-5">
    <div id="translation-card" class="p-5 card border-0 rounded-lg">
        <div class="card-body">
            <h1 class="display-6 mb-5">Transactions</h1>
            <div class="my-4">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Status</th>
                            <th scope="col">Date</th>
                            <th scope="col">Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in page_obj %}
                            <tr>
                                <td>{{ transaction.id }}</td>
                                <td>${{ transaction.amount }}</td>
                                <td>{{ transaction.was_successful|yesno:"Successful,Failed" }}</td>
                                <td>{{ transaction.timestamp|date:"Y-m-d H:i" }}</td>
                                <td>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="5">No transactions found.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                        {% endif %}
                        
                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}
                        
                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        {% endif %}
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>
{% endblock %}